.projects-title{
    position: relative;
    top:clamp(0.5rem, 4vw, 2rem);
    font-size: clamp(1rem, 8vw, 4rem);
    white-space: nowrap;
    width: fit-content;
}

.work{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: clamp(3rem, 6vw, 7rem);
    align-items: center;
    min-height: 100%;
}

.projects{
    padding:0 1rem;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1rem, 3vw, 4rem);
}